.perfil-dropdown-menu {
    width: 200px;
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
    transform: translateX(-63%);
    z-index: 100;
}

.perfil-dropdown-menu li{
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    cursor: pointer;
}

.perfil-dropdown-menu li:hover{
    background: linear-gradient(90deg, rgb(39, 38, 38) 0%, rgb(34, 32, 32) 100%);
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.fa-caret-right{
    position: absolute;
    right: 10px;
    margin-top: 4px;
}