*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App {
  background-color: #f1f1f1;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 100vh;
  font-family: 'Roboto Slab';
}

main{
  max-width: 1050px;
  margin: auto;
  padding: 80px 0;
}

.line{
  border: .25px solid grey;
}

h4{
  font-size: 1.25rem;
}

.loading-container{
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  display: flex;
  padding: 1.25rem;
  width: 100px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}